* {
    font-family: 'Raleway', sans-serif;
    --primary: #2351a6;
}

.is-info {
    background-color: var(--primary) !important; 
}

#form-login-col, #contact-col {
	min-height: 50vh;
}

footer, .footer {
	background-color:  white;
}

.footer {
    padding-bottom: 3rem;
    border-top: 1px solid var(--primary);
}

.card {
    height: 100%;
}

.card-title,
.card-subtitle {
    text-align: center;
}

/* card hover */
.card-image {
overflow: hidden;
}

.card:hover figure img {
    transform: scale(1.2);
}

figure img {
    transition: 0.6s ease;
}

.button-border-remove {
    border: none;
}

.delete-item, .shop-item-delete, .shop-item-edit {
    position: absolute;
    z-index: 5;
    opacity: 0.5;
    cursor: pointer;

}
.delete-item, .shop-item-delete  {
    left: 0;
}
 
.hide {
    display: none;
}

.notification {
    width: 40vw;
    position: fixed;
    top: 25vh;
    left: 30vw;
    overflow: hidden;
    z-index: 100;
}


.hide-orders  {
    display: none;
}

.hide-users   {
    display: none;
}

.shop-item-edit {
    right: 0;
}

.dash-details {
    background-color: #363636;
    color: white;
    padding: 5px;
}
.dash-img {
    padding: 40px 40px 0 40px;
}

.dash-section {
    padding-bottom: 0;
}

#form-login-col {
    height: 70vh;
}

.indeximg {
    background-color: white;
}

.nav-level {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

.asd {
    border: 2px black solid;
}

/*font colors*/
.price-color {
    color: green;
}

.font-color {
    color: var(--primary);
}


